:root {
    --background-color: white;
    --background-divider-color: rgba(215, 215, 215, 0.31);
    --important-color: rgb(24, 24, 24);
    --normal-color: #747474;
    --accent-color: #6a6a6a;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}